<div class="navbar-container">
  <div class="navbar-left">
    <div class="navbar-left-icon"></div>
    <a class="navbar-left-text" href="/">
      Site de Mme Chambard
    </a>
  </div>
  <div class="navbar-right">
    <{components::navbar::navbar_item} onClick="" label="Admin" other_attrs="popovertarget=\"admin-password-modal\"" />
  </div>
  <{components::navbar::navbar_menu}>
    <{components::navbar::navbar_menu_item} label="Admin" onClick="" other_attrs="popovertarget=\"admin-password-modal\"" />
  </{components::navbar::navbar_menu}>
</div>
